@font-face {
  font-family: "SegoeUIRegular";
  src: url("./fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("./fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("./fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SegoeUIRegular";
  src: url("./fonts/SegoeUILight/SegoeUILight.eot");
  src: url("./fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("./fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("./fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
