@import "normalize"; // Устанавливаем стандартные свойства для элементов
@import "fonts"; // Подгружаем шрифты
@import "variables"; // Подгружаем переменные

// Устанавливаем глобальные стили элементов
* {
  padding: 0;
  margin: 0;
}

.g-global {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 24px;
  background-color: $white;
  color: $default;
  min-width: 1400px;
}

.g-wrapper {
  width: 1400px;
  margin: auto;
  position: relative;
}

.g-link {
  color: $link;
  cursor: pointer;
  padding-bottom: 1px;

  &:hover {
    border-bottom: 1px solid $link;
  }
}

.g-button {
  background: $light-green;
  font-size: 24px;
  color: $white;

  border: 2px solid $green;
  padding: 18px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: inset 0px 5px 0px 0px $extra-light-green;
  position: relative;
  cursor: pointer;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background 0.3s ease;
  }

  &:hover:before {
    background: rgba(0,0,0,.05);
  }

  &[disabled]:before {
    background: rgba(255,255,255,.3);
  }
}

// Подгружаем стили всех блоков сайта
@import "block/index";

// Специфичные стили для различных разрешений
@import "mobile";
