@media screen and (max-width:1400px) {
  .b-modal__wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }
}
