/*
 * Выбор города
 */
.b-city {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 55px;
}

/*
 * Список городов в модальном окне
 */
.b-cities {
  list-style-type: none;

  &__item {
    margin-bottom: 10px;
  }
}
