/*
 * Центральная часть + картинки на бэкграунде
 */
.b-content {
  clear: both;
  overflow: hidden;
  min-height: 590px;

  &__wrapper {
    &:before {
      content: '';
      width: 948px;
      height: 590px;
      background: url("images/bg-left.jpg") no-repeat right top;
      position: absolute;
      left: -948px;
      top: 110px;
    }
    &:after {
      content: '';
      width: 1031px;
      height: 519px;
      background: url("images/bg-right.jpg") no-repeat left top;
      position: absolute;
      left: 50%;
      top: 194px;
      margin-left: 700px;
    }
  }
}
