/*
 * Стили модального окна
 */
.b-modal {
  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
  }
  &__wrap {
    background: $white;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -300px;
    padding: 50px;
    cursor: default;
    border-radius: 2px;

    &--small {
      margin-top: -150px;
    }
  }

  &__title {
    font-size: 44px;
    margin-bottom: 30px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    transform: scaleY(.8);
    font-size: 30px;
    color: #333;
  }
}
