/*
 * Блок добавления нового места
 */
.b-place-add {
  float: right;
  width: 326px;
  height: 329px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: url('images/place-add.png') no-repeat 31px 23px $gray;
  padding: 129px 31px;
  box-sizing: border-box;

  &__title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__button {
    width: 100%;
  }
}

/*
 * Форма добавления новго места
 */
.b-place-add-form {

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 26px;
  }

  &__input {
    border-radius: 2px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 26px;
    border: 2px solid $extra-gray;
    height: 40px;
    padding: 0 10px;
    outline: none;

    &:focus {
      border-color: $green;
    }
  }

  &__button {
    width: 100%;
    margin-top: 30px;
  }
}
