/*
 * Список всех мест
 */
.b-places-list {
  overflow: hidden;
  padding-bottom: 150px;
}

/*
 * Карточка места
 */
.b-place {
  width: 327px;
  height: 329px;
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radiu: 2px;
  border-radius: 2px;
  position: relative;
  background: $default;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    color: #fff;
    transition: background 0.3s ease;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 32px;
  }

  &__city {
    font-size: 18px;
  }
}

// Обрабатывает наведение на весь блок, а не только на текст
.b-place:hover .b-place__text {
  background: $light-green;
}
