/*
 * Ссылки социальных сетей
 */
.b-socials {
  display: inline-block;
  vertical-align: bottom;
  list-style-type: none;

  &__item {
    display: inline-block;
    margin: 0 15px;
    vertical-align: bottom;
  }

  &__link {
    width: 37px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-bottom: 0;

    &:hover {
      border-bottom: 0;
    }

    &--facebook {
      background-image: url(images/facebook.png);
    }
    &--twitter {
      background-image: url(images/twitter.png);
    }
    &--vk {
      background-image: url(images/vk.png);
    }
  }
}
