/*
 * Заголовки сайта и страницы
 */
.b-title {
  float: left;
  margin-top: 47px;
  
  &__app-title {
    font-size: 44px;
    line-height: 47px;
  }

  &__app-subtitle {
    margin-top: 7px;
    font-size: 20px;
  }

  &__page-title {
    font-size: 122px;
    font-weight: 300;
    margin-top: 45px;
    height: 150px;
    margin-left: -8px;
  }
}
