<div class="b-content" ng-controller="PlacesController">
    <div class="b-content__wrapper g-wrapper">
    <div class="b-city">
        Выберите <a class="g-link" ng-click="getCities();">город</a>
    </div>
        <div class="b-place-add">
            <div class="b-place-add__title">Добавьте свое место!</div>
            <button class="g-button b-place-add__button" ng-click="addNewPlace();">Добавить место</button>
        </div>
        <div class="b-places-list">
            <div class="b-place" ng-repeat="place in places">
                <div class="b-place__image" style="background-image: url('{{place.image}}')"></div>
                <div class="b-place__text">
                    <div class="b-place__title">{{place.title}}</div>
                    <div class="b-place__city">{{place.city}}</div>
                </div>
            </div>
        </div>

    </div>

    <div simple-modal="Выберите город" is-open="modal.isCitiesOpen" size="small">
        <ul class="b-cities">
            <li class="b-cities__item"><a class="g-link" ng-click="chooseCity()">Все города</a></li>
            <li class="b-cities__item" ng-repeat="city in modal.cities"><a class="g-link" ng-click="chooseCity(city)">{{city}}</a></li>
        </ul>
    </div>
    <div simple-modal="Добавить место" is-open="modal.isPlaceAddOpen" size="medium">
        <div class="b-place-add-form" ng-controller="PlaceAddController">
            <label>
                <span class="b-place-add-form__label">Ссылка на изображение</span>
                <input type="text" class="b-place-add-form__input" ng-model="newPlace.image">
            </label>
            <label>
                <span class="b-place-add-form__label">Название</span>
                <input type="text" class="b-place-add-form__input" ng-model="newPlace.title">
            </label>
            <label>
                <span class="b-place-add-form__label">Город</span>
                <input type="text" class="b-place-add-form__input" ng-model="newPlace.city">
            </label>
            <button ng-click="addPlace()" class=" g-button b-place-add-form__button" ng-disabled="!newPlace.image || !newPlace.title || !newPlace.city">Добавить</button>
        </div>
    </div>

</div>
