<div class="b-header">
    <div class="b-header__wrapper g-wrapper">
        <nav class="b-header__nav">
            <ul class="b-menu">
                <li class="b-menu__item"><a class="g-link">Об экспедиции</a></li>
                <li class="b-menu__item"><a class="g-link">Новости</a></li>
            </ul>
            <ul class="b-socials">
                <li class="b-socials__item"><a class="b-socials__link b-socials__link--facebook g-link"></a></li>
                <li class="b-socials__item"><a class="b-socials__link b-socials__link--twitter g-link"></a></li>
                <li class="b-socials__item"><a class="b-socials__link b-socials__link--vk g-link"></a></li>
            </ul>
        </nav>
        <div class="b-title">
            <div class="b-title__app-title">Microsoft Developer Tour </div>
            <div class="b-title__app-subtitle">Технологическая экспедиция</div>
            <div class="b-title__page-title">Путеводитель</div>
        </div>
    </div>
</div>
