<div class="b-modal" ng-show="isOpen">
    <div class="b-modal__overlay" ng-click="close()"></div>
    <div class="b-modal__wrap" ng-class="size === 'small' ? 'b-modal__wrap--small' : ''">
        <div class="b-modal__close" ng-click="close()">x</div>
        <div class="b-modal__title">{{title}}</div>
        <div class="b-modal__body" ng-transclude></div>
    </div>
</div>
